/* Mobile Control Panel Extension CSS */
@media (min-width: 768px) {
  .nav-pf-vertical .list-group-item>a .fa-mobile {
    font-size: 25px;
    padding-bottom: 0;
    vertical-align: middle;
    padding: 0px 4px;
  }
}
