.mp-overview {
  .header {
    padding: 15px 0;
    border-color: rgb(54, 54, 54);
    border-bottom: 1px solid rgba(0, 0, 0, 0.26);
    border-radius: 1px;
    margin-bottom: 10px;
    h1 {
      display: inline;
    }
    a {
      margin-left: 10px;
    }
  }

  &.container-cards-pf {
    margin-top:0;
  }

  .actions {
    display: inline;
  }

  .row.row-cards-pf {
    margin-bottom:50px;
  }
}
