<span style="font-size: 30px;" class="fa icon {{app.metadata.icon}} card-pf-icon-circle">&nbsp;</span> <span style="font-size:22px;">{{app.name}}</span>
<p>
  {{app.description}}
</p>

<h3>Core SDK Setup</h3>
<p>
  The core sdk will discover the services you have provisioned and make them available to your application by exposing the
  required configuration. This will allow you to easily and simply plug in and start using your chosen mobile services.
</p>
<h4>Installation:</h4>
<ul class="nav nav-tabs nav-justified">
  <li ng-if="app.clientType == 'android'" role="presentation"><a ng-click="installationOpt('maven')" href="#">Maven</a></li>
  <li ng-if="app.clientType == 'android'" role="presentation"><a ng-click="installationOpt('gradle')" href="#">Gradle</a></li>
  <li ng-if="app.clientType == 'iOS'" role="presentation"><a ng-click="installationOpt('cocoapods')" href="#">Cocoapods</a></li>
  <li ng-if="app.clientType == 'cordova'" role="presentation"><a ng-click="installationOpt('npm')" href="#">Npm</a></li>
</ul>
<p ng-if="installType == 'npm'">Add the following to your <code>pacakge.json</code> file</p>
<p ng-if="installType == 'gradle'">Add the following to your <code>build.gradle</code> file</p>
<p ng-if="installType == 'maven'">Add the following to your <code>pom.xml</code> file</p>
<p ng-if="installType == 'cocoapods'">Add the following to your <code>Podfile</code></p>
<pre ng-if="installType == 'maven'">
    &lt;dependency&gt;
        &lt;groupId&gt;org.feedhenry.mobile&lt;/groupId&gt;
        &lt;artifactId&gt;mobile-core&lt;/artifactId&gt;
        &lt;version&gt;0.0.1&lt;/version&gt;
    &lt;/dependency&gt;</pre>
<pre ng-if="installType == 'gradle'">
    repositories {
        mavenCentral()
    }
    dependencies {
        compile group: 'org.feedhenry.mobile', name: 'mobile-core', version: '0.0.1'
    }
</pre>
<pre ng-if="installType == 'npm'">
  {
    "dependencies":{
      mobile-core:"0.0.1"
    }
  }    
</pre>
<pre ng-if="installType == 'cocoapods'">
pod 'MobileCore', '~> 0.0.1'
</pre>


<h4>Configuration:</h4>
<p ng-if="installType == 'npm'">Add the following to a file named <code>mobile.json</code> at the root of your project</p>
<p ng-if="installType == 'gradle'">Add the following to a file named <code>mobile.properties</code> under your resources directory</p>
<p ng-if="installType == 'maven'">Add the following to a file named <code>mobile.properties</code> under your resources directory</p>
<p ng-if="installType == 'cocoapods'">Add the following to a file named <code>mobile.plist</code> under your resources directory</p>
<pre ng-if="app.clientType == 'iOS'">
    &lt;?xml version="1.0" encoding="UTF-8"?&gt;
    &lt;!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"&gt;
    &lt;dict&gt;
        &lt;key&gt;host&lt;/key&gt;
        &lt;string&gt;{{route}}&lt;/string&gt;
        &lt;key&gt;appID&lt;/key&gt;
        &lt;string&gt;{{app.id}}&lt;/string&gt;
        &lt;key&gt;apiKey&lt;/key&gt;
        &lt;string&gt;{{app.apiKey}}&lt;/string&gt;
    &lt;/dict&gt;
    &lt;/plist&gt;
</pre>
<pre ng-if="app.clientType == 'android'">
    
    org.feedhenry.mobile.host = "{{route}}"
    org.feedhenry.mobile.appID = "{{app.id}}"
    org.feedhenry.mobile.apiKey = "{{app.apiKey}}"
</pre>
<pre ng-if="app.clientType == 'cordova'">
  {
    "host":"{{route}}",
    "appID":{{app.id}}""
    "apiKey":{{app.apiKey}}
  }
</pre>

<h4>Code:</h4>

<ul class="nav nav-tabs nav-justified">
  <li role="presentation"><a ng-click="codeOpts('code')" href="#">Code Sample</a></li>
  <li role="presentation"><a ng-click="codeOpts('templates')" href="#">Quick Start Templates</a></li>
</ul>

<pre ng-if="sample == 'code' && app.clientType == 'iOS'">
    var myDict: NSDictionary?
    if let path = Bundle.main.path(forResource: "Config", ofType: "plist") {
        myDict = NSDictionary(contentsOfFile: path)
    }
    if let dict = myDict {
        // Use your dict here
    }
</pre>
<pre ng-if="sample == 'code' && app.clientType == 'android'">
    import org.feedhenry.mobile
    CoreSDK core = new CoreSDK()
    try{
        CoreConfig cfg = cfgcore.configure(props)
    }catch(InitialisationException e){
            //handle exception
    }
</pre>
<pre ng-if="sample == 'code' && app.clientType == 'cordova'">
    const mobileSdk =  require('mobile-core');
    const sdk = mobileSdk(config);
    sdk.configure()
    .then((conf)=>{
        let syncConf = conf.forService('fh-sync');
    })
    .catch((e)=>console.error);
</pre>

<div ng-if="sample == 'templates' && app.clientType =='android'">
  <table class="table">
    <thead>
      <tr>
        <th>Template Name</th>
        <th>Description</th>
        <th>Github</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Hello World</td>
        <td>Android hello world starter app. Shows you how to plugin the core sdk.</td>
        <td><a href="https://github.com/feedhenry-templates/sync-android-app">https://github.com/feedhenry-templates/android-app</a>å</td>
      </tr>
      <tr>
        <td>Sync Android quick start</td>
        <td>A starting point for building out an application that syncs data automatically to the cloud</td>
        <td><a href="https://github.com/feedhenry-templates/sync-android-app">https://github.com/feedhenry-templates/sync-android-app</a></td>
      </tr>

    </tbody>
  </table>
</div>

<div ng-if="sample == 'templates' && app.clientType =='iOS'">
  <table class="table">
    <thead>
      <tr>
        <th>Template Name</th>
        <th>Description</th>
        <th>Github</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Hello World</td>
        <td>iOS swift hello world starter app. Shows you how to plugin the core sdk.</td>
        <td><a href="https://github.com/feedhenry-templates/sync-ios-app">https://github.com/feedhenry-templates/ios-app</a>å</td>
      </tr>
      <tr>
        <td>Sync iOS quick start</td>
        <td>A starting point for building out an application that syncs data automatically to the cloud</td>
        <td><a href="https://github.com/feedhenry-templates/sync-ios-app">https://github.com/feedhenry-templates/sync-ios-app</a></td>
      </tr>
    </tbody>
  </table>
</div>

<div ng-if="sample == 'templates' && app.clientType =='cordova'">
  <table class="table">
    <thead>
      <tr>
        <th>Template Name</th>
        <th>Description</th>
        <th>Github</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Hello World</td>
        <td>Cordova hello world starter app. Shows you how to plugin the core sdk.</td>
        <td><a href="https://github.com/feedhenry-templates/sync-cordova-app">https://github.com/feedhenry-templates/cordova-app</a>å</td>
      </tr>
      <tr>
        <td>Sync Cordova quick start</td>
        <td>A starting point for building out an application that syncs data automatically to the cloud</td>
        <td><a href="https://github.com/feedhenry-templates/sync-cordova-app">https://github.com/feedhenry-templates/sync-cordova-app</a></td>
      </tr>

    </tbody>
  </table>
</div>


<h4>Available integrations:</h4>

<div ng-if="integrations.length > 0" class="row row-cards-pf">
    <div ng-repeat="service in integrations" class="col-xs-12 col-sm-4 col-md-4 col-lg-2">
      <div class="card-pf card-pf-view" style="cursor:pointer;" ng-click="openServiceIntegration(service.name)">
        <div class="card-pf-body" style="height: 204px;">
          <div class="card-pf-top-element">
            <span class="fa icon card-pf-icon-circle"></span>
          </div>
          <p class="card-pf-info text-center">
            <h2 class="card-pf-title text-center">
              {{service.name}}
            </h2>
          </p>
          <p class="card-pf-info text-center">
            <h6>Capabilities:</h6>
            <span style="color: blueviolet; font-size: 8px;"> Authentication,</span>
            <span style="color: blueviolet; font-size: 8px;"> Authorisation</span>
  
  
            <h6>Integrations:</h6>
            <span style="color: blueviolet; font-size: 8px;"> fh-sync,</span>
            <span style="color: blueviolet; font-size: 8px;"> mobile clients</span>
  
            <a class="pull-right" style="font-size:10px;" ng-click="openServiceIntegration(service.name)" href=""> Details ></a>
          </p>
  
        </div>
      </div>
    </div>
  </div>
  