<ng-form name="mobileappForm" class="create-mobileapp-form">
  <div for="mobileappClientType" ng-if="!type" class="form-group mar-top-lg">
    <label>Mobile App Type</label>
    <ui-select required ng-model="newMobileapp.clientType" search-enabled="false">
      <ui-select-match>{{$select.selected.label | upperFirst}} Mobile App</ui-select-match>
      <ui-select-choices repeat="clientType in clientTypes">
        {{clientType.label}} Mobile App
      </ui-select-choices>
    </ui-select>
  </div>

  <div ng-if="newMobileapp.clientType">
    <div class="form-group">
      <label for="mobileappName" class="required">Mobile App Name</label>
        <span ng-class="{'has-error': nameTaken || (mobileappForm.mobileappName.$invalid && mobileappForm.mobileappName.$touched)}">
          <input class="form-control"
            id="mobileappName"
            name="mobileappName"
            ng-model="newMobileapp.data.mobileappName"
            type="text"
            autocorrect="off"
            autocapitalize="off"
            spellcheck="false"
            aria-describedby="mobileapp-name-help"
            ng-change="nameChanged()"
            required>
        </span>
        <div class="has-error" ng-show="nameTaken">
          <span class="help-block">
            This name is already in use. Please choose a different name.
          </span>
        </div>
        <div class="has-error" ng-show="mobileappForm.mobileappName.$invalid">
          <div ng-show="mobileappForm.mobileappName.$error.pattern && mobileappForm.mobileappName.$touched" class="help-block">
            {{nameValidation.description}}
          </div>
          <div ng-show="mobileappForm.mobileappName.$error.required && mobileappForm.mobileappName.$touched" class="help-block">
            Name is required.
          </div>
          <div ng-show="mobileappForm.mobileappName.$error.maxlength && mobileappForm.mobileappName.$touched" class="help-block">
            Can't be longer than {{nameValidation.maxlength}} characters.
          </div>
        </div>
        <div class="help-block" id="mobileapp-name-help">
          Unique name of the new mobile app.
        </div>
    </div>


  </div>
  <div class="buttons gutter-top-bottom">
    <button class="btn btn-lg btn-primary"
            type="button"
            ng-disabled="mobileappForm.$invalid || mobileappForm.$pristine || invalidConfigFormat"
            ng-click="create()">Create</button>
    <button class="btn btn-lg btn-default"
            type="button"
            ng-click="cancel()">Cancel</button>
  </div>
</ng-form>
