<project-header class="top-header"></project-header>
<project-page class="overview">
  
  <div class="middle-section">
    <div class="middle-container">

      <div class="middle-content">
        <div class="container-fluid">
          <tasks></tasks>
          <breadcrumbs breadcrumbs="breadcrumbs"></breadcrumbs>
          <alerts alerts="overview.state.alerts"></alerts>
        </div>
        <div class="container-fluid">
          <div class="col-md-12">
            <mp-create-app created=created cancelled=cancelled></mp-create-app>
          </div>
        </div>
      </div>
    </div>
  </div>
</project-page>
