<project-header class="top-header"></project-header>
<project-page class="overview">

  <div class="middle-section">
    <div class="middle-container">

      <div class="middle-header">
        <div class="container-fluid">
          <breadcrumbs breadcrumbs="breadcrumbs"></breadcrumbs>
          <alerts alerts="alerts"></alerts>
          <div>
            <h1>
              <span class="fa icon {{app.metadata.icon}} card-pf-icon-circle">&nbsp;</span>{{app.name}}
              <small class="meta" ng-if="app">created <span am-time-ago="app.metadata.created"></span></small>
            </h1>
          </div>
        </div>
      </div>

      <div class="middle-content mobile-content" persist-tab-state>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <uib-tabset>
                <uib-tab active="selectedTab.sdk" ng-if="app">
                  <uib-tab-heading>SDK</uib-tab-heading>
                  <h3>Core SDK Setup</h3>
                  <p>
                    {{app.Description}}
                  </p>
                  <p>
                    The core sdk will discover the services you have provisioned and make them available to your application by exposing the
                    required configuration. This will allow you to easily and simply plug in and start using your chosen mobile services.
                  </p>
                  <h4>Installation</h4>
                  <ul ng-if="app.clientType == 'android'" class="nav nav-pills nav-justified">
                    <li ng-if="app.clientType == 'android'" role="presentation" ng-class="{'active' : installType == 'maven'}"><a ng-click="installationOpt('maven')" href="#">Maven</a></li>
                    <li ng-if="app.clientType == 'android'" role="presentation" ng-class="{'active' : installType == 'gradle'}"><a ng-click="installationOpt('gradle')" href="#">Gradle</a></li>
                  </ul>

                  <p ng-if="installType == 'npm'">Add the following to your <code>pacakge.json</code> file</p>
                  <p ng-if="installType == 'gradle'">Add the following to your <code>build.gradle</code> file</p>
                  <p ng-if="installType == 'maven'">Add the following to your <code>pom.xml</code> file</p>
                  <p ng-if="installType == 'cocoapods'">Add the following to your <code>Podfile</code></p>
                  <pre ng-if="installType == 'maven'" class="prettyprint lang-xml">
&lt;dependency&gt;
    &lt;groupId&gt;org.feedhenry.mobile&lt;/groupId&gt;
    &lt;artifactId&gt;mobile-core&lt;/artifactId&gt;
    &lt;version&gt;0.0.1&lt;/version&gt;
&lt;/dependency&gt;</pre>
                  <pre ng-if="installType == 'gradle'" class="prettyprint lang-groovy">
repositories {
    mavenCentral()
}
dependencies {
    compile group: 'org.feedhenry.mobile', name: 'mobile-core', version: '0.0.1'
}</pre>
                  <pre ng-if="installType == 'npm'" class="prettyprint lang-bash">
npm install --save mobile-core</pre>
                  <pre ng-if="installType == 'cocoapods'" class="prettyprint">
pod 'MobileCore', '~> 0.0.1'</pre>


                  <h4>Configuration</h4>
                  <p ng-if="installType == 'npm'">Add the following to a file named <code>mobile.json</code> at the root of your project</p>
                  <p ng-if="installType == 'gradle'">Add the following to a file named <code>mobile.properties</code> under your resources directory</p>
                  <p ng-if="installType == 'maven'">Add the following to a file named <code>mobile.properties</code> under your resources directory</p>
                  <p ng-if="installType == 'cocoapods'">Add the following to a file named <code>mobile.plist</code> under your resources directory</p>
                  <pre ng-if="app.clientType == 'iOS'" class="prettyprint lang-xml">
&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"&gt;
&lt;dict&gt;
    &lt;key&gt;host&lt;/key&gt;
    &lt;string&gt;{{route}}&lt;/string&gt;
    &lt;key&gt;appID&lt;/key&gt;
    &lt;string&gt;{{app.id}}&lt;/string&gt;
    &lt;key&gt;apiKey&lt;/key&gt;
    &lt;string&gt;{{app.apiKey}}&lt;/string&gt;
&lt;/dict&gt;
&lt;/plist&gt;</pre>
                  <pre ng-if="app.clientType == 'android'" class="prettyprint">
org.feedhenry.mobile.host = "{{route}}"
org.feedhenry.mobile.appID = "{{app.id}}"
org.feedhenry.mobile.apiKey = "{{app.apiKey}}"</pre>
                  <pre ng-if="app.clientType == 'cordova'" class="prettyprint lang-json">
{
  "host":"{{route}}",
  "appID":"{{app.id}}",
  "apiKey":"{{app.apiKey}}"
}</pre>

                  <h4>SDK Initialisation</h4>

                  <pre ng-if="app.clientType == 'iOS'" class="prettyprint lang-swift">
var myDict: NSDictionary?
if let path = Bundle.main.path(forResource: "Config", ofType: "plist") {
    myDict = NSDictionary(contentsOfFile: path)
}
if let dict = myDict {
    // Use your dict here
}</pre>
                  <pre ng-if="app.clientType == 'android'" class="prettyprint lang-java">
import org.feedhenry.mobile
CoreSDK core = new CoreSDK()
try{
    CoreConfig cfg = cfgcore.configure(props)
}catch(InitialisationException e){
        //handle exception
}</pre>
                  <pre ng-if="app.clientType == 'cordova'" class="prettyprint lang-js">
const mobileCore = require('fh-mobile-core');
const sync = require('fh-sync-js');
const mcpConfig = require('../mcpConfig.json');

mobileCore.configure(mcpConfig).then((config) => {
  const syncConfig = config.getConfigFor('fh-sync-server');
  sync.init({
    cloudUrl: syncConfig.uri,
    storage_strategy: 'dom'
  });
  sync.manage('myDataset', null, {}, {}, () => {
    // Initialise the rest of your app.
  });
});
                  </pre>

                  <h3>Example Apps</h3>

                  <!-- TODO: fix links to real docs & template, only if available. Otherwise leave empty -->
                  <div ng-if="app.clientType =='android'">
                    <!-- TODO: remove duplicate table header -->
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Template Name</th>
                          <th>Description</th>
                          <th>Source</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Hello World</td>
                          <td>Android hello world starter app. Shows you how to plugin the core sdk.</td>
                          <td><a href="https://github.com/feedhenry-templates/sync-android-app">https://github.com/feedhenry-templates/android-app</a>å</td>
                        </tr>
                        <tr>
                          <td>Sync Android quick start</td>
                          <td>A starting point for building out an application that syncs data automatically to the cloud</td>
                          <td><a href="https://github.com/feedhenry-templates/sync-android-app">https://github.com/feedhenry-templates/sync-android-app</a></td>
                        </tr>

                      </tbody>
                    </table>
                  </div>

                  <div ng-if="app.clientType =='iOS'">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Template Name</th>
                          <th>Description</th>
                          <th>Source</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Hello World</td>
                          <td>iOS swift hello world starter app. Shows you how to plugin the core sdk.</td>
                          <td><a href="https://github.com/feedhenry-templates/sync-ios-app">https://github.com/feedhenry-templates/ios-app</a></td>
                        </tr>
                        <tr>
                          <td>Sync iOS quick start</td>
                          <td>A starting point for building out an application that syncs data automatically to the cloud</td>
                          <td><a href="https://github.com/feedhenry-templates/sync-ios-app">https://github.com/feedhenry-templates/sync-ios-app</a></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                  <div ng-if="app.clientType =='cordova'">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Template Name</th>
                          <th>Description</th>
                          <th>Source</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Hello World</td>
                          <td>Cordova hello world starter app. Shows you how to plugin the core sdk.</td>
                          <td><a href="https://github.com/feedhenry-templates/sync-cordova-app">https://github.com/feedhenry-templates/cordova-app</a>å</td>
                        </tr>
                        <tr>
                          <td>Sync Cordova quick start</td>
                          <td>A starting point for building out an application that syncs data automatically to the cloud</td>
                          <td><a href="https://github.com/feedhenry-templates/sync-cordova-app">https://github.com/feedhenry-templates/sync-cordova-app</a></td>
                        </tr>

                      </tbody>
                    </table>
                  </div>


                  <h3>Available Integrations</h3>

                  <div ng-if="integrations.length > 0" class="row row-cards-pf">
                    <div ng-repeat="service in integrations" class="col-xs-12 col-sm-4 col-md-4 col-lg-2">
                      <div class="card-pf card-pf-view card-pf-view-select card-pf-view-multi-select" ng-click="openServiceIntegration(service.id)">
                        <div class="card-pf-body">
                          <div class="card-pf-top-element">
                            <span class="fa icon card-pf-icon-circle"></span>
                          </div>
                          <h2 class="card-pf-title text-center">
                            {{service.name}}
                          </h3>
                        </div>
                      </div>
                    </div>
                  </div>
                </uib-tab>

                <uib-tab>
                  <uib-tab-heading>Build Config</uib-tab-heading>

                  <form class="form-horizontal">
                    <div class="form-group">
                      <label class="col-sm-2 control-label" for="repo-uri">Repo URL</label>
                      <div class="col-sm-6">
                        <input ng-model="buildConfig.gitRepo.uri" type="text" id="repo-url" class="form-control">
                      </div>
                      <div class="col-sm-2">
                        <input ng-model="buildConfig.gitRepo.private" type="checkbox" id="is-private" >
                        <label class="control-label" for="is-private">Private</label>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-2 control-label" for="branch-name">Branch</label>
                      <div class="col-sm-6">
                        <input ng-model="buildConfig.gitRepo.ref" type="text" id="branch-name" class="form-control">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-2 control-label" for="build-name">Name</label>
                      <div class="col-sm-6">
                        <input ng-model="buildConfig.name" type="text" id="build-name" class="form-control">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-2 control-label" for="jenkins-path">Jenkins File location</label>
                      <div class="col-sm-6">
                        <input ng-model="buildConfig.gitRepo.jenkinsFilePath" type="text" id="jenkins-path" class="form-control">
                      </div>
                    </div>
                    <button ng-click="createBuildConfig()" class="btn btn-primary">Create</button>
                  </form>

                </uib-tab>
              </uib-tabset>
            <script>prettyPrint()</script>
            </div>
          </div>
        </div>
      </div><!-- /middle-content -->
    </div>
  </div>
</project-page>
