<project-header class="top-header"></project-header>
<project-page class="overview">

  <div class="middle-section">
    <div class="middle-container">

      <div class="middle-header">
        <div class="container-fluid">
          <breadcrumbs breadcrumbs="breadcrumbs"></breadcrumbs>
          <alerts alerts="alerts"></alerts>
          <div>
            <h1>
              {{service.name}}
            </h1>
          </div>
        </div>
      </div>
      <div class="middle-content mobile-content" persist-tab-state>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <uib-tabset>
                <uib-tab active="selectedTab.dashboard" ng-if="service">
                  <uib-tab-heading>Dashboard</uib-tab-heading>
                  <h2>Details</h2>
                  <dl class="dl-horizontal left">
                    <dt>Description:</dt>
                    <dd>{{ service.description }}</dd>
                    <dt>Dashboard URL:</dt>
                    <dd><a href="{{ service.host }}">{{service.host}}</a></dd>
                    <dt ng-repeat-start="(key, value) in service.params">{{ key }}</dt>
                    <dd ng-repeat-end>{{ value }}</dd>
                  </dl>

                  <h2>Stats</h2>
                  <div ng-repeat="chart in charts" class="col-xs-12 col-sm-6 col-md-3 mcp-dashboard-chart">
                    <h3>{{chart.title}}</h3>
                    <div id="line-chart-{{chart.title}}" class="line-chart-pf"></div>
                  </div>

                  <div ng-if="charts.length == 0">
                    <div class="empty-state-message text-center">
                      <h2>No Stats currently available for this service</h2>
                    </div>
                  </div>

                </uib-tab>
                <uib-tab active="selectedTab.integrations" ng-if="service">
                  <uib-tab-heading>Integrations</uib-tab-heading>
                  <uib-tabset>
                    <uib-tab active="">
                      <uib-tab-heading>Mobile App Integrations</uib-tab-heading>
                      <ng-include src="'extensions/mcp/views/integration-docs/mobile-app-integration.html'"></ng-include>
                    </uib-tab>
                    <uib-tab active="">
                      <uib-tab-heading>Mobile Service Integrations</uib-tab-heading>
                      <ng-include src="'extensions/mcp/views/integration-docs/mobile-service-integration.html'"></ng-include>
                    </uib-tab>
                  </uib-tabset>
                </uib-tab>
              </uib-tabset>
            </div>
          </div>
        </div>
      </div><!-- /middle-content -->
    </div>
  </div>
</project-page>
