<project-header class="top-header"></project-header>
<project-page class="overview">

  <div class="middle-section">
    <div class="middle-container">

      <div class="middle-header">
        <div class="container-fluid">
          <breadcrumbs breadcrumbs="breadcrumbs"></breadcrumbs>
          <alerts alerts="alerts"></alerts>
          <div>
            <h1>
              <span class="fa icon {{app.metadata.icon}} card-pf-icon-circle">&nbsp;</span>{{app.name}}
              <small class="meta" ng-if="app">created <span am-time-ago="app.metadata.created"></span></small>
            </h1>
          </div>
        </div>
      </div>

      <div class="middle-content mobile-content" persist-tab-state>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <uib-tabset>
                <uib-tab active="selectTab.builds" ng-if="app">
                  <uib-tab-heading>Builds</uib-tab-heading>




              <!-- If unfilteredBuilds is undefined, the builds are still loading. -->
              <div ng-if="!unfilteredBuilds" class="gutter-bottom">Loading...</div>

              <!-- Show an empty state message when there are no builds. -->
              <div ng-if="buildConfig && unfilteredBuilds && (unfilteredBuilds | hashSize) === 0" class="empty-state-message text-center">
                <h2>No builds.</h2>

                  <p>
                    <span ng-if="!buildConfig.spec.strategy.jenkinsPipelineStrategy">
                      <span ng-if="!('buildconfigs/instantiate' | canI : 'create')">
                        Builds will create an image from
                      </span>
                      <span ng-if="'buildconfigs/instantiate' | canI : 'create'">
                        Start a new build to create an image from
                      </span>
                      <span ng-if="buildConfig.spec.source.type === 'Git'">
                        source repository
                        <span class="word-break"><osc-git-link
                                        uri="buildConfig.spec.source.git.uri"
                                        ref="buildConfig.spec.source.git.ref"
                                        context-dir="buildConfig.spec.source.contextDir">{{buildConfig.spec.source.git.uri}}</osc-git-link></span>
                      </span>
                      <span ng-if="buildConfig.spec.source.type !== 'Git'">
                        build configuration {{buildConfig.metadata.name}}.
                      </span>
                    </span>
                    <span ng-if="buildConfig.spec.strategy.jenkinsPipelineStrategy">
                      No pipeline builds have run for {{buildConfigName}}.
                      <br>
                      <span ng-if="buildConfig.spec.strategy.jenkinsPipelineStrategy.jenkinsfile">
                        View the <a ng-href="{{(buildConfig | navigateResourceURL) + '?tab=configuration'}}">Jenkinsfile</a> to see what stages will run.
                      </span>
                      <span ng-if="buildConfig.spec.strategy.jenkinsPipelineStrategy.jenkinsfilePath">
                        View the file <code>{{buildConfig.spec.strategy.jenkinsPipelineStrategy.jenkinsfilePath}}</code> in the
                        <a ng-if="buildConfig | jenkinsfileLink" ng-href="buildConfig | jenkinsfileLink">source repository</a>
                        <span ng-if="!(buildConfig | jenkinsfileLink)">source repository</span>
                        to see what stages will run.
                      </span>
                    </span>
                  </p>

                  <button
                      class="btn btn-primary btn-lg"
                      ng-click="startBuild()"
                      ng-if="('buildconfigs/instantiate' | canI : 'create') && !(buildConfig | isBinaryBuild)">
                    <span ng-if="!(buildConfig | isJenkinsPipelineStrategy)">
                      Start Build
                    </span>
                    <span ng-if="buildConfig | isJenkinsPipelineStrategy">
                      Start Pipeline
                    </span>
                  </button>

              </div>

              <div class="pull-right dropdown" ng-if="buildConfig" ng-hide="!('buildConfigs' | canIDoAny)">
                <!-- Primary Actions -->
                <button
                    class="btn btn-default hidden-xs"
                    ng-if="('buildconfigs/instantiate' | canI : 'create') && !(buildConfig | isBinaryBuild)"
                    ng-click="startBuild()">
                  <span>
                    Start Build
                  </span>
                </button>

                <!-- Secondary Actions -->
                <button type="button" class="dropdown-toggle actions-dropdown-btn btn btn-default hidden-xs" data-toggle="dropdown">
                  Actions
                  <span class="caret" aria-hidden="true"></span>
                </button>
                <a href=""
                  class="dropdown-toggle actions-dropdown-kebab visible-xs-inline"
                  data-toggle="dropdown"><i class="fa fa-ellipsis-v"></i><span class="sr-only">Actions</span></a>
                <ul class="dropdown-menu dropdown-menu-right actions action-button">
                  <li class="visible-xs-inline" ng-if="('buildconfigs/instantiate' | canI : 'create') && !(buildConfig | isBinaryBuild)">
                    <a href="" role="button" ng-click="startBuild()">
                      <span>
                        Start Build
                      </span>
                    </a>
                  </li>
                  <li ng-if="'buildconfigs' | canI : 'update'">
                    <a ng-href="{{buildConfig | editResourceURL}}" role="button">Edit</a>
                  </li>
                  <li ng-if="'buildconfigs' | canI : 'update'">
                    <a ng-href="{{buildConfig | editYamlURL}}" role="button">Edit YAML</a>
                  </li>
                  <li ng-if="'buildconfigs' | canI : 'delete'">
                    <delete-link
                      kind="BuildConfig"
                      resource-name="{{buildConfig.metadata.name}}"
                      project-name="{{buildConfig.metadata.namespace}}"
                      alerts="alerts">
                    </delete-link>
                  </li>
                </ul>
              </div>

              <!-- Show the latest build and a chart of the recent build duration and status. -->
              <div ng-if="builds && (builds | hashSize) > 0" class="build-config-summary">
                <!-- Show the latest build status first. -->
                <div class="h3">
                  <span class="last-status">
                    <status-icon status="latestBuild.status.phase"></status-icon>
                    Build
                    <!-- Line break comments to prevent whitespace from being underlined on link hover. -->
                    <a ng-href="{{latestBuild | navigateResourceURL}}"><!--
                      --><span ng-if="latestBuild | annotation : 'buildNumber'">#{{latestBuild | annotation : 'buildNumber'}}</span><!--
                      --><span ng-if="!(latestBuild | annotation : 'buildNumber')">{{latestBuild.metadata.name}}</span><!--
                    --></a>
                    <span ng-switch="latestBuild.status.phase" class="hide-ng-leave">
                      <span ng-switch-when="Failed">failed.</span>
                      <span ng-switch-when="Error">encountered an error.</span>
                      <span ng-switch-when="Cancelled">was cancelled.</span>
                      <span ng-switch-default>is {{latestBuild.status.phase | lowercase}}.</span>
                    </span>
                  </span>
                  <span ng-if="latestBuild | buildLogURL">
                    <!-- Always show a log link for pipeline builds. -->
                    <span ng-if="latestBuild | isJenkinsPipelineStrategy">
                      <a ng-href="{{latestBuild | buildLogURL}}" target="_blank">View Log</a>
                    </span>
                    <!-- Show an artifact download url. -->
                    <span ng-if="latestBuild | isJenkinsPipelineStrategy">
                      <a ng-href="{{latestBuild | buildArtifactURL}}" target="_blank">Download Artifact</a>
                    </span>
                  </span>
                </div>
                <div class="last-timestamp meta text-muted">
                  <span ng-if="!latestBuild.status.startTimestamp">
                    created <span am-time-ago="latestBuild.metadata.creationTimestamp"></span>
                  </span>
                  <span ng-if="latestBuild.status.startTimestamp">
                    started <span am-time-ago="latestBuild.status.startTimestamp"></span>
                  </span>
                </div>

                <build-trends-chart builds="builds"></build-trends-chart>
              </div>
              <div ng-if="loaded && (unfilteredBuilds | hashSize) > 0" class="mar-bottom-xl">
                <div class="table-filter-extension">
                  <div class="data-toolbar">
                    <div class="data-toolbar-filter">
                      <project-filter></project-filter>
                    </div>
                  </div>
                </div>
                <table ng-if="!(buildConfig | isJenkinsPipelineStrategy)" class="table table-bordered table-mobile">
                  <thead>
                    <tr>
                      <th>Build</th>
                      <th>Status</th>
                      <th>Duration</th>
                      <th>Created</th>
                    </tr>
                  </thead>
                  <tbody ng-if="(builds | hashSize) == 0">
                    <tr><td colspan="3"><em>{{emptyMessage}}</em></td></tr>
                  </tbody>
                  <tbody ng-if="(builds | hashSize) > 0">
                    <tr ng-repeat="build in orderedBuilds track by (build | uid)">
                      <td data-title="Build">
                        <!-- Build number and link -->
                        <span ng-if="build | annotation : 'buildNumber'">
                          <a ng-href="{{build | navigateResourceURL}}">#{{build | annotation : 'buildNumber'}}</a>
                        </span>
                        <span ng-if="!(build | annotation : 'buildNumber')">
                          <a ng-href="{{build | navigateResourceURL}}">{{build.metadata.name}}</a>
                        </span>
                      </td>
                      <td data-title="Status">
                        <div row class="status">
                          <status-icon status="build.status.phase" disable-animation></status-icon>
                          <span ng-if="!build.status.reason || build.status.phase === 'Cancelled'">{{build.status.phase}}</span>
                          <span ng-if="build.status.reason && build.status.phase !== 'Cancelled'">{{build.status.reason | sentenceCase}}</span>
                        </div>
                      </td>
                      <td data-title="Duration">
                        <duration-until-now ng-if="build.status.startTimestamp && !build.status.completionTimestamp" timestamp="build.status.startTimestamp" time-only></duration-until-now>
                        <span ng-if="build.status.startTimestamp && build.status.completionTimestamp">{{build.status.startTimestamp | duration : build.status.completionTimestamp}}</span>
                      </td>
                      <td data-title="Created">
                        <span am-time-ago="build.metadata.creationTimestamp"></span>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div ng-if="buildConfig | isJenkinsPipelineStrategy">
                  <build-pipeline build="build" ng-repeat="build in orderedBuilds track by (build | uid)"></build-pipeline>
                  <table ng-if="(builds | hashSize) === 0" class="table table-bordered table-mobile">
                    <tbody><tr><td><em>{{emptyMessage}}</em></td></tr></tbody>
                  </table>
                </div>
              </div>









                </uib-tab>
                <uib-tab active="selectedTab.sdk" ng-if="app">
                  <uib-tab-heading>SDK</uib-tab-heading>
                  <h3>Core SDK Setup</h3>
                  <p>
                    {{app.Description}}
                  </p>
                  <p>
                    The core sdk will discover the services you have provisioned and make them available to your application by exposing the
                    required configuration. This will allow you to easily and simply plug in and start using your chosen mobile services.
                  </p>
                  <h4>Installation</h4>
                  <ul ng-if="app.clientType == 'android'" class="nav nav-pills nav-justified">
                    <li ng-if="app.clientType == 'android'" role="presentation" ng-class="{'active' : installType == 'maven'}"><a ng-click="installationOpt('maven')" href="#">Maven</a></li>
                    <li ng-if="app.clientType == 'android'" role="presentation" ng-class="{'active' : installType == 'gradle'}"><a ng-click="installationOpt('gradle')" href="#">Gradle</a></li>
                  </ul>

                  <p ng-if="installType == 'npm'">Add the following to your <code>pacakge.json</code> file</p>
                  <p ng-if="installType == 'gradle'">Add the following to your <code>build.gradle</code> file</p>
                  <p ng-if="installType == 'maven'">Add the following to your <code>pom.xml</code> file</p>
                  <p ng-if="installType == 'cocoapods'">Add the following to your <code>Podfile</code></p>
                  <pre ng-if="installType == 'maven'" class="prettyprint lang-xml">
&lt;dependency&gt;
    &lt;groupId&gt;org.feedhenry.mobile&lt;/groupId&gt;
    &lt;artifactId&gt;mobile-core&lt;/artifactId&gt;
    &lt;version&gt;0.0.1&lt;/version&gt;
&lt;/dependency&gt;</pre>
                  <pre ng-if="installType == 'gradle'" class="prettyprint lang-groovy">
repositories {
    mavenCentral()
}
dependencies {
    compile group: 'org.feedhenry.mobile', name: 'mobile-core', version: '0.0.1'
}</pre>
                  <pre ng-if="installType == 'npm'" class="prettyprint lang-bash">
npm install --save mobile-core</pre>
                  <pre ng-if="installType == 'cocoapods'" class="prettyprint">
pod 'MobileCore', '~> 0.0.1'</pre>


                  <h4>Configuration</h4>
                  <p ng-if="installType == 'npm'">Add the following to a file named <code>mobile.json</code> at the root of your project</p>
                  <p ng-if="installType == 'gradle'">Add the following to a file named <code>mobile.properties</code> under your resources directory</p>
                  <p ng-if="installType == 'maven'">Add the following to a file named <code>mobile.properties</code> under your resources directory</p>
                  <p ng-if="installType == 'cocoapods'">Add the following to a file named <code>mobile.plist</code> under your resources directory</p>
                  <pre ng-if="app.clientType == 'iOS'" class="prettyprint lang-xml">
&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"&gt;
&lt;dict&gt;
    &lt;key&gt;host&lt;/key&gt;
    &lt;string&gt;{{route}}&lt;/string&gt;
    &lt;key&gt;appID&lt;/key&gt;
    &lt;string&gt;{{app.id}}&lt;/string&gt;
    &lt;key&gt;apiKey&lt;/key&gt;
    &lt;string&gt;{{app.apiKey}}&lt;/string&gt;
&lt;/dict&gt;
&lt;/plist&gt;</pre>
                  <pre ng-if="app.clientType == 'android'" class="prettyprint">
org.feedhenry.mobile.host = "{{route}}"
org.feedhenry.mobile.appID = "{{app.id}}"
org.feedhenry.mobile.apiKey = "{{app.apiKey}}"</pre>
                  <pre ng-if="app.clientType == 'cordova'" class="prettyprint lang-json">
{
  "host":"{{route}}",
  "appID":"{{app.id}}",
  "apiKey":"{{app.apiKey}}"
}</pre>

                  <h4>SDK Initialisation</h4>

                  <pre ng-if="app.clientType == 'iOS'" class="prettyprint lang-swift">
var myDict: NSDictionary?
if let path = Bundle.main.path(forResource: "Config", ofType: "plist") {
    myDict = NSDictionary(contentsOfFile: path)
}
if let dict = myDict {
    // Use your dict here
}</pre>
                  <pre ng-if="app.clientType == 'android'" class="prettyprint lang-java">
import org.feedhenry.mobile
CoreSDK core = new CoreSDK()
try{
    CoreConfig cfg = cfgcore.configure(props)
}catch(InitialisationException e){
        //handle exception
}</pre>
                  <pre ng-if="app.clientType == 'cordova'" class="prettyprint lang-js">
const mobileSdk =  require('mobile-core');
const sdk = mobileSdk(config);
sdk.configure()
.then((conf)=>{
    let syncConf = conf.forService('fh-sync');
})
.catch((e)=>console.error);</pre>

                  <h3>Example Apps</h3>

                  <!-- TODO: fix links to real docs & template, only if available. Otherwise leave empty -->
                  <div ng-if="app.clientType =='android'">
                    <!-- TODO: remove duplicate table header -->
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Template Name</th>
                          <th>Description</th>
                          <th>Source</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Hello World</td>
                          <td>Android hello world starter app. Shows you how to plugin the core sdk.</td>
                          <td><a href="https://github.com/feedhenry-templates/sync-android-app">https://github.com/feedhenry-templates/android-app</a>å</td>
                        </tr>
                        <tr>
                          <td>Sync Android quick start</td>
                          <td>A starting point for building out an application that syncs data automatically to the cloud</td>
                          <td><a href="https://github.com/feedhenry-templates/sync-android-app">https://github.com/feedhenry-templates/sync-android-app</a></td>
                        </tr>

                      </tbody>
                    </table>
                  </div>

                  <div ng-if="app.clientType =='iOS'">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Template Name</th>
                          <th>Description</th>
                          <th>Source</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Hello World</td>
                          <td>iOS swift hello world starter app. Shows you how to plugin the core sdk.</td>
                          <td><a href="https://github.com/feedhenry-templates/sync-ios-app">https://github.com/feedhenry-templates/ios-app</a></td>
                        </tr>
                        <tr>
                          <td>Sync iOS quick start</td>
                          <td>A starting point for building out an application that syncs data automatically to the cloud</td>
                          <td><a href="https://github.com/feedhenry-templates/sync-ios-app">https://github.com/feedhenry-templates/sync-ios-app</a></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                  <div ng-if="app.clientType =='cordova'">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Template Name</th>
                          <th>Description</th>
                          <th>Source</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Hello World</td>
                          <td>Cordova hello world starter app. Shows you how to plugin the core sdk.</td>
                          <td><a href="https://github.com/feedhenry-templates/sync-cordova-app">https://github.com/feedhenry-templates/cordova-app</a>å</td>
                        </tr>
                        <tr>
                          <td>Sync Cordova quick start</td>
                          <td>A starting point for building out an application that syncs data automatically to the cloud</td>
                          <td><a href="https://github.com/feedhenry-templates/sync-cordova-app">https://github.com/feedhenry-templates/sync-cordova-app</a></td>
                        </tr>

                      </tbody>
                    </table>
                  </div>


                  <h3>Available Integrations</h3>

                  <div ng-if="integrations.length > 0" class="row row-cards-pf">
                    <div ng-repeat="service in integrations" class="col-xs-12 col-sm-4 col-md-4 col-lg-2">
                      <div class="card-pf card-pf-view card-pf-view-select card-pf-view-multi-select" ng-click="openServiceIntegration(service.id)">
                        <div class="card-pf-body">
                          <div class="card-pf-top-element">
                            <span class="fa icon card-pf-icon-circle"></span>
                          </div>
                          <h2 class="card-pf-title text-center">
                            {{service.name}}
                          </h3>
                        </div>
                      </div>
                    </div>
                  </div>
                </uib-tab>
              </uib-tabset>
            <script>prettyPrint()</script>
            </div>
          </div>
        </div>
      </div><!-- /middle-content -->
    </div>
  </div>
</project-page>
